@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --bg-light: #daf1f6;
  --bg-clr: #011014;
  --foreground: #88c8f3;
}

@theme {
  --font-play: "Play", sans-serif;
}

*,
*::before,
*::after {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.icon {
  font-style: normal;
  font-weight: 700;
}

.scrollbar {
  scrollbar-width: none;
}
